[user]
  email = 22548727+Untanky@users.noreply.github.com
  name = Lukas Grimm
[core]
  editor = nvim
  excludesFile = "~/.gitignore"
[diff]
	tool = nvimdiff
	algorithm = histogram
[difftool "nvimdiff"]
	cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[merge]
	tool = nvimdiff 
	conflictstyle = zdiff3
[mergetool "nvimdiff"]
  prompt = false
  cmd = "nvim -d \"$LOCAL\" \"$REMOTE\" \"$MERGED\" \"$BASE\""
[color]
	ui = auto
[push]
	default = simple
	autoSetupRemote = true
[commit]
  verbose = true
[help]
	autocorrect = 1
[pull]
	ff = only
[column]
	ui = auto
[branch]
	sort = -committerdate
[fetch]
	prune = true
[rebase]
	autoStash = true

